<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue practice</title>
    <script src="./JS/vue.js"></script>
    <script src="./JS/axios.min.js"></script>
</head>

<body>
    <div id="app">

        <h3>添加新品牌</h3>
        <label>品牌名称：</label>
        <input type="text" v-model="name">
        <input type="button" value="添加" @click="add">

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>CTime</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ctime }}</td>
                    <td>
                        <a href="#" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        //axios.defaults.baseURL = 'http://39.106.32.91:3000';
        //Vue.prototype.$http = axios
        Vue.pototype.$http = axios.create({
            baseURL: 'http://39.106.32.91:3000'
        })

        var vm = new Vue({
            el:'#app',
            data: {
                list: [],
                name: ''
            },
            created(){
                this.getList()
            },
            methods: {
                async getList(){
                    const {data} = await this.$http.get('/api/getprodlist')
                    if(data.status === 0) this.list = data.message
                },
                async add(){
                    if(this.name.trim().length<=0) return alert('品牌名称不能为空！')
                    const {data} = await this.$http.post('/api/addproduct',{ name: this.name.trim() })
                    if(data.status === 0) this.getList()
                },
                async del(id){
                    const {data} = await this.$http.get('/api/delproduct/' + id)
                    if(data.status === 0) this.getList()
                }
            }
        });
    </script>
</body>

</html>